<div class="field m-0 p-0">
<label *ngIf="showLabel" for="control.name">{{label}}</label>
<ng-select
    #select
    [items]="options.length > 0 ? options: items"
    bindValue="{{bindId}}"
    bindLabel="{{bindLabel}}"
    [required]="isRequired"
    [virtualScroll]="true"
    appendTo="[role='dialog']"
    [formControl]="control"
    [id]="selectId"
    [clearable]="clearable"
    [typeahead]="typeAhead"
    placeholder="Seleccione uno..."
    [style]="{'width': '100%'}"
    [loading]="loading"
    (scrollToEnd)="onScrollToEnd()"
    (focus)="onFocus()"
    (open)="openSelect()">

    <ng-template ng-label-tmp let-item="item">
        <span class="text-primary" *ngIf="item[bindId] && showValue">{{ item[bindId] }}</span> <span *ngIf="item[bindId] && showSelectedValue" > - </span> <span> {{ item[bindLabel] }} </span>
    </ng-template>

    <ng-template ng-option-tmp let-item="item">
        {{ item[bindLabel] }}<br/>
        <small *ngIf="showValue" class="text-muted">{{ item[bindId] }}</small>
    </ng-template>
</ng-select>

<app-validation-errors
    *ngIf="control.invalid && (control.dirty || control.touched)"
    [customErrorMessages]="customErrorMessages"
    [errors]="control.errors">
  </app-validation-errors>
</div>
