<form action="#" (ngSubmit)="onSubmit()" [formGroup]="formPais">
    <div class="card border-0 p-0" style="overflow: hidden;">
        <p-messages></p-messages>
        <div class="col-4">
            <app-text-input formControlName="codigoIso" inputId="codigoIso" [placeholder]="'DO'" [label]="'Codigo Iso'">
            </app-text-input>
        </div>
        <div class="col-12">
            <app-text-input formControlName="descripcion" inputId="descripcion" [placeholder]="'REPUBLICA DOMINICANA'"
                [label]="'Descripcion'">
            </app-text-input>
        </div>
        <div class="col-12 flex justify-content-end flex-wrap card-container pr-3">
            <button [disabled]="!formPais.valid" pButton pRipple type="button" label="Guardar"
                class="p-button-outlined p-button-success mr-2" (click)="onSubmit()"></button>
            <button pButton pRipple type="button" label="Salir" class="p-button-outlined p-button-danger"></button>
        </div>
    </div>
</form>
