<div class="field m-0 p-0">
    <label for={{ngControl.name}}>{{title}}</label>
    <input
      pInputText
      type={{type}}
      class="{{'text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ' + class}}"
      [formControl]="$any(ngControl.control)"
      placeholder={{placeholder}}>

    <div *ngIf="ngControl.control.invalid && (ngControl.control.dirty || ngControl.control.touched)">

        <div *ngIf="ngControl.control.errors?.required" class="text-xs text-red-500">El campo {{title}} es requerido</div>

        <div *ngIf="ngControl.control.errors?.minlength" class="text-xs text-red-500">
            El campo {{title}} debe tener al menos {{ngControl.control.errors.minlength['requiredLength']}}
        </div>

        <div *ngIf="ngControl.control.errors?.maxlength" class="text-xs text-red-500">
            El campo {{title}} debe tener maximo {{ngControl.control.errors.maxlength['requiredLength']}}
        </div>

        <div *ngIf="ngControl.control.errors?.pattern" class="text-xs text-red-500">
            El campo {{title}} tiene caracteres no valido
        </div>

        <div *ngIf="ngControl.control.errors?.isMatching" class="text-xs text-red-500">Password do not match</div>

        <div *ngIf="ngControl.control.errors?.codeExist" class="text-xs text-red-500">{{title}} ya existe en la base de datos</div>

    </div>
</div>
