<div class="field m-0 p-0" *ngIf="control">
    <label [for]="inputId" *ngIf="label" [class.required]="isRequired">{{label}}</label>
    <input
        pInputText
        [placeholder]="placeholder"
        [required]="isRequired"
        [isUpperCase]="isUpperCase"
        [type]="type"
        [id]="inputId"
        [formControl]="control"
        [style]="{'width': '100%'}"/>
</div>
<div style="white-space: nowrap;">
    <app-validation-errors *ngIf="control.invalid && (control.dirty || control.touched)"
        [customErrorMessages]="customErrorMessages"
        [errors]="control.errors">
    </app-validation-errors>
</div>
