::ng-deep {
    .ui-dialog .ui-dialog-titlebar {
        background-color: #6d2a2a; /* replace with your desired color */
    }

    .p-dialog .p-dialog-header{
        background-color: #263238;
        color: white;
    }
}
